.count{
    width: 100%;
    background-color: black;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    padding: 50px;
}
.count-info{
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 1200px) {
    .count-info{
      font-size: 2rem;
    }
}
@media screen and (max-width: 800px) {
    .count{
      margin-top: 30px;
      margin-bottom: 50px;
      padding: 30px;
    }
    .count-info{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 800px) {
    .count{
      margin-top: 30px;
      margin-bottom: 50px;
      padding: 40px;
    }
    .count-info{
        font-size: 1.5rem;
    }
}